<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="pr2_forearm_transmission_v0" params="side">

    <!-- Wrist flex , Wrist roll -->
    <transmission name="${side}_wrist_trans">
      <type>transmission_interface/DifferentialTransmission</type>
      <actuator name="${side}_wrist_r_motor">
        <mechanicalReduction>${624/35*54/16}</mechanicalReduction>
      </actuator>
      <actuator name="${side}_wrist_l_motor">
        <mechanicalReduction>${624/35*54/16}</mechanicalReduction>
      </actuator>

      <joint name="${side}_wrist_flex_joint">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        <mechanicalReduction>-1.0</mechanicalReduction>
      </joint>
      <joint name="${side}_wrist_roll_joint">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        <mechanicalReduction>1.0</mechanicalReduction>
      </joint>
    </transmission>

  </xacro:macro>
</robot>

